<div id="body">
  <div id="cover"></div>
    <button id="toInnerCover" type="button" class="pageover" data-content='{"picture":"/Images/Cover.png"}'>&gt</button>
    <button id="toCover" type="button" class="pageover" data-content='{"picture":"/Images/InsideCover.png"}'>&lt</button>
</div>
